@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 197 100% 8%;    /* #001E27 */
    --foreground: 196 85% 93%;    /* #DAF2FB */
    --primary: 194 82% 71%;       /* #78D1F2 */
    --primary-foreground: 197 100% 8%;  /* für Text auf Primary */
    --secondary: 240 80% 32%;     /* #101093 */
    --secondary-foreground: 196 85% 93%; /* für Text auf Secondary */
    --accent: 255 83% 59%;        /* #5D41EC */
    --accent-foreground: 196 85% 93%;   /* für Text auf Accent */
  }

  .dark {
    /* Die gleichen Werte, da es ein dunkles Design ist */
    --background: 197 100% 8%;    
    --foreground: 196 85% 93%;    
    --primary: 194 82% 71%;       
    --primary-foreground: 197 100% 8%;
    --secondary: 240 80% 32%;     
    --secondary-foreground: 196 85% 93%;
    --accent: 255 83% 59%;        
    --accent-foreground: 196 85% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
